TARGET = i686-elf
ARCH = i386

ISO_FILENAME = mOS.iso

TOOLCHAIN_DIR = toolchain/bin
KERNEL_DIR = kernel
ISOBUILD_DIR = static

TOOLCHAIN_TARGETS = $(TOOLCHAIN_DIR)/$(TARGET)-as \
					$(TOOLCHAIN_DIR)/$(TARGET)-ld \
					$(TOOLCHAIN_DIR)/$(TARGET)-gcc
KERNEL_TARGET = $(KERNEL_DIR)/mOS.bin
ISO_TARGET = $(ISOBUILD_DIR)/$(ISO_FILENAME)